@import "tailwindcss";

@font-face {
  font-family: "PP Mori";
  src: url('/fonts/PPMori-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Mori SemiBold";
  src: url('/fonts/PPMori-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #F9F6F4;
  --primary-bg: #E7DAD1;
  --foreground: #030712;
  --sub-foreground: #374151;
  --text-head: #7C5D48;
}

@theme inline {
  --color-background: var(--background);
  --color-primary-bg: var(--primary-bg);
  --color-foreground: var(--foreground);
  --color-sub-foreground: var(--sub-foreground);
  --color-primary: #B68F00;
  --color-head: var(--text-head);
  --font-ppmori: "PP Mori", "PPMori", sans-serif;
  --font-ppmori-semibold: "PP Mori SemiBold", "PPMori-SemiBold", "PP Mori", sans-serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    @apply font-ppmori;
    padding: 0;
    margin: 0;
  }

  @layer utilities {
    .animate-infinite-scroll {
      animation: infinite-scroll 60s linear infinite;
    }
  }

  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}